#root{
    font-weight: 300 !important;
}
.link p{
    margin-bottom: 0 !important;
}
.link:hover{
    background-color: #88b9ec;
    cursor: pointer;
}
.link p:hover{
    color: #001aff;
    cursor: pointer;
}
.link{
    background-color: #cce5ff;
}
.card-header{
    background-color: #cce5ff;
}
.nav-item a:hover{
    background-color: #88b9ec;
}
.nav-item a:hover{
    background-color: #88b9ec;
    color: #001aff;
}
.nav-item a{
    color: #000000;
}
.jumbotron{
    background-color: #cce5ff !important;
}
.alert-link{
    font-weight: 300 !important;
}
.nav-link{
    font-weight: 300 !important;
}